@import "./variables.scss";
@import "./mixin.scss";

// ----------------#BIG SCREENS

@media screen and (min-width: 1440px) {
  main {
    position: relative;
    background-color: $b;
    width: 1440px;
  }
  //   positioning logo for screen bigger as 1440 px
  .logo {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-720px);
    padding-left: 2%;
  }
}

// ----------------#normal desktop to mobile (tablet inclusive)

@media screen and (min-width: 767px) and (max-width: 1440px) {
  .paralax h1 {
    padding-left: 5rem;
    font-size: clamp(3rem, 7vw, 6rem);
    letter-spacing: 7rem;
  }
  .logo {
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(135%);
    margin-right: 25rem;
    width: 17rem;
    padding-left: 0;
    margin-left: 0;
  }

  .news {
    padding-bottom: 20rem;
    .clock-gallery {
      align-items: flex-start;
    }
    .news-text {
      h2 {
        margin: 0 auto;
        width: 80vw;
        top: 5rem;
        right: 23rem;
      }
      .highlight {
        width: 80vw;
        top: 7rem;
        right: 23rem;
        margin: 0 auto;
      }
    }
  }

  .showroom {
    height: 70vh;
  }

  footer {
    .links-container {
      h2 {
        font-size: clamp(3rem, 5vw, 4rem);
        letter-spacing: 2rem;
      }
    }
  }
}

// ----------------#mobile
// @media screen and (max-width: 767px) {}
