@import "./variables.scss";
@import "./mixin.scss";

// ----------------#BIG SCREENS

@media screen and (min-width: 1440px) {
  main {
    position: relative;
    background-color: $b;
    width: 1440px;
  }
  //   positioning logo for screen bigger as 1440 px
  .logo {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-720px);
    padding-left: 2%;
  }
}

// ----------------#normal desktop to mobile (tablet inclusive)

@media screen and (min-width: 767px) and (max-width: 1440px) {
  h1 {
    font-size: clamp(2rem, 2vh, 3rem);
    background-color: red;
    letter-spacing: 7rem;
  }
}

// ----------------#mobile
// @media screen and (max-width: 767px) {}
