// @mixin dark {
//     background-color: rgb(29, 27, 27);
//     color: #efeaea;
//   }

//   @mixin light {
//     background-color: #efeaea;
//     color: rgb(29, 27, 27);
//   }

@mixin f-column {
  display: flex;
  flex-direction: column;
}

@mixin f-row {
  display: flex;
  align-items: center;
}

@mixin text($fz, $fw) {
  font-size: $fz;
  font-weight: $fw;
}
