@import "./variables.scss";
@import "./mixin.scss";

@font-face {
  font-family: OS;
  src: url("../fonts/OstrichSans-Light.otf");
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

// ---------------------!General

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.color-wrapper {
  background-color: $b;
  color: $w;
  width: 100vw;
}

.width-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
  font-family: $os;
}

a {
  text-decoration: none;
  color: $w;
}

h2 {
  text-align: center;
  font-family: $i;
  @include text(3.3rem, 100);
  letter-spacing: 10px;
  text-transform: uppercase;
}

p {
  font-family: Helvetica;
  @include text(1.6rem, 300);
  letter-spacing: 3px;
}

.line {
  height: 1px;
  background-color: $w;
}

.arrow-wrapper {
  @include f-row;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  p {
    font-family: Helvetica, Arial, sans-serif;
    @include text(1.3rem, 300);
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  img {
    padding-left: 1rem;
  }
  &:hover {
    transform: scale(1.2, 1);
  }
}

// ---------------------!header

.paralax {
  position: relative;
  background: url("../img/FJ_home_slider2.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 4rem;
  @include f-row;
  gap: 2rem;
  h1 {
    text-align: center;
    @include text(6rem, 100);
    color: #fff;
    font-family: $i;
    letter-spacing: 108px;
    margin-left: 2%;
    width: 60vw;
  }
}

.sticky-position {
  position: sticky;
  top: 0;
  z-index: 99;
  padding-left: 2%;
}

// ---------------------!main

// ---------------------#story

.story {
  background-color: $lb;
  @include f-column;
  align-items: center;
  justify-content: center;
  h3 {
    font-family: $i;
    @include text(1.3rem, 100);
    letter-spacing: 5px;
    padding-top: 5.2rem;
    padding-bottom: 10rem;
    z-index: 10;
  }
  h2 {
    padding-bottom: 5.8rem;
    z-index: 10;
  }

  .line {
    width: 50%;
    z-index: 10;
  }
  .story-img {
    height: 40vh;
    position: relative;
    top: -12vh;
  }
  .arrow-wrapper {
    position: relative;
    top: -10vh;
  }
}

// ---------------------#curated

.curated {
  padding-bottom: 23rem;
  background-color: $b;
  h2 {
    padding-top: 6.7rem;
    padding-bottom: 3.8rem;
  }
  p {
    text-align: center;
  }
}

.gallery-hover {
  padding-top: 7rem;
  @include f-row;
  gap: 8vh;
  align-items: center;
  justify-content: center;

  .img-item {
    width: 23%;
    height: 100%;
    text-align: center;
    h3 {
      padding-top: 1rem;
      font-family: $i;
      @include text(3rem, 400);
    }
    .line {
      display: inline-block;
      width: 70%;
      margin: 2rem 0;
      height: 1px;
    }
    p {
      padding-bottom: 3rem;
    }
  }
}

.img-item {
  overflow: hidden;
  position: relative;
  .hover-container {
    width: 100%;
    height: 100%;
    position: absolute;
    @include f-column;
    justify-content: center;
    align-items: center;
    bottom: -100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.6s ease-in-out;
  }
  &:hover .hover-container {
    bottom: 0;
    opacity: 1;
  }
}

// ---------------------#partnership

.partnership {
  height: 70vh;
  min-height: 600px;
  background-color: $lb;
  padding-bottom: 10vh;

  h2 {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }

  p {
    text-align: center;
    padding-bottom: 5rem;
  }
}

.banner {
  background-color: transparent;
  max-width: 1440px;
  position: relative;
  overflow: hidden;
  &:nth-of-type(2) {
    h3 {
      opacity: 0.8;
    }
  }

  &:nth-of-type(3) {
    h3 {
      animation: moveback 5s infinite linear;
      opacity: 0.6;
    }
  }
  &:nth-of-type(4) {
    h3 {
      opacity: 0.4;
    }
  }

  h3 {
    text-align: right;
    padding: 2rem 0;
    width: fit-content;
    font-family: Inter;
    @include text(3.9rem, 100);
    letter-spacing: 25px;
    white-space: nowrap;
    animation: move 5s infinite linear;
  }
}

// ---------------------#showroom
.showroom {
  background-color: $b;
  position: relative;
  .bck-img {
    margin: 10rem;
    display: block;
    width: 80%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
  }
  .text-container {
    position: absolute;
    top: 15vh;
    right: 3rem;
    h2 {
      text-align: left;
      padding-bottom: 5vh;
      @include text(5rem, 100);
      letter-spacing: 50px;
      text-transform: uppercase;
    }
    p {
      width: 33rem;
      margin-left: 15vh;
      padding-bottom: 2rem;
    }
    .arrow-wrapper {
      width: 30rem;
      &:hover {
        width: 25rem;
        height: auto;
      }
      p {
        padding-bottom: 0;
      }
    }
  }
}

// ---------------------#news
// ---------------------!footer

// ?animations

@keyframes move {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes moveback {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -100%;
  }
}

// ?last
@import "./media.scss";
