@import "./variables.scss";
@import "./mixin.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// ---------------------!General
// ---------------------!main
// ---------------------#story
// ---------------------#cura-ted
// ---------------------#partnership
// ---------------------#showroom
// ---------------------#news
// ---------------------!footer

// ?animations

// ?last
@import "./media.scss";
