@media screen and (min-width: 1440px) {
  main {
    position: relative;
    background-color: #121212;
    width: 1440px;
  }
  .logo {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-720px);
    padding-left: 2%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1440px) {
  .paralax h1 {
    padding-left: 5rem;
    font-size: clamp(3rem, 7vw, 6rem);
    letter-spacing: 7rem;
  }
  .logo {
    position: fixed;
    top: 3rem;
    left: 50%;
    transform: translateX(-45vw);
    margin-right: 25rem;
    width: 17rem;
    padding-left: 0;
    margin-left: 0;
  }
  .news {
    padding-bottom: 20rem;
  }
  .news .clock-gallery {
    align-items: flex-start;
  }
  .news .news-text h2 {
    margin: 0 auto;
    width: 80vw;
    top: 5rem;
    right: 23rem;
  }
  .news .news-text .highlight {
    width: 80vw;
    top: 7rem;
    right: 23rem;
    margin: 0 auto;
  }
  .showroom {
    height: 70vh;
  }
  footer .links-container h2 {
    font-size: clamp(3rem, 5vw, 4rem);
    letter-spacing: 2rem;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    letter-spacing: 1rem;
  }
  main {
    width: 100vw;
  }
  .paralax {
    width: 100vw;
    height: 85vh;
  }
  .paralax h1 {
    padding-left: 2rem;
    font-size: clamp(2rem, 7vw, 3rem);
    letter-spacing: 3rem;
  }
  .logo {
    position: fixed;
    transform: rotate(90deg);
    top: 5rem;
    left: 85vw;
    width: 8rem;
    padding-left: 0;
    margin-left: 0;
  }
  .story-text {
    width: 80vw;
  }
  .story {
    justify-content: space-between;
  }
  .story h3 {
    padding-top: 5rem;
    padding-bottom: 0;
  }
  .story h2 {
    padding-bottom: 2rem;
  }
  .story .line {
    display: none;
  }
  .story .story-img {
    top: 0;
  }
  .story .arrow-wrapper {
    top: -3rem;
  }
  .curated {
    padding-bottom: 10rem;
  }
  .curated-text {
    width: 80vw;
  }
  .gallery-hover {
    display: flex;
    flex-direction: column;
  }
  .gallery-hover .img-item {
    width: 50vw;
    height: 200px;
  }
  .gallery-hover .img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gallery-hover .img-item .hover-container h3 {
    font-size: 2.5rem;
  }
  .gallery-hover .img-item .hover-container p {
    font-size: 1.5rem;
  }
  .partnership {
    height: 70vh;
  }
  .partnership .partnership-text {
    width: 80vw;
    padding-top: 2rem;
  }
  .banner:nth-of-type(3) h3 {
    animation: moveback 9s infinite linear;
  }
  .banner h3 {
    animation: move 9s infinite linear;
  }
  .showroom {
    height: 70vh;
  }
  .showroom .text-container {
    left: 7rem;
  }
  .showroom .text-container h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    letter-spacing: 2rem;
  }
  .showroom .text-container p {
    margin-left: 2vh;
    padding-bottom: 2rem;
    width: 20rem;
  }
  .news {
    padding-bottom: 20rem;
  }
  .news h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    letter-spacing: 1rem;
  }
  .news .clock-gallery {
    align-items: flex-start;
  }
  .news .news-text h2 {
    margin: 0 auto;
    width: 85vw;
    top: 5rem;
    right: 30vw;
  }
  .news .news-text .highlight {
    width: 85vw;
    margin: 0 auto;
    top: 7rem;
    right: 30vw;
  }
  footer .links-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  footer .links-container h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    letter-spacing: 1rem;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 2rem;
    letter-spacing: 1rem;
  }
  main {
    width: 100vw;
    overflow: hidden;
  }
  .paralax {
    width: 100vw;
    height: 85vh;
  }
  .paralax h1 {
    padding-left: 2rem;
    font-size: 2rem;
    letter-spacing: 1rem;
  }
  .showroom {
    height: 70vh;
  }
  .showroom .text-container {
    left: 1rem;
    text-align: center;
  }
  .showroom .text-container h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    letter-spacing: 1rem;
    padding-left: 3rem;
  }
  .showroom .text-container p {
    margin-left: 2vh;
    padding-bottom: 2rem;
    width: 23rem;
  }
  .showroom .text-container .arrow-wrapper {
    text-align: center;
    width: 22rem;
    padding-left: 1rem;
  }
}

/*# sourceMappingURL=media.css.map */
