@font-face {
  font-family: OS;
  src: url("../fonts/OstrichSans-Light.otf");
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.color-wrapper {
  background-color: #121212;
  color: #efeaea;
  width: 100vw;
  z-index: 99;
  padding: 0 auto;
}

.width-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #121212;
}

html {
  font-size: 62.5%;
  font-family: OS, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #efeaea;
}

h2 {
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 3.3rem;
  font-weight: 100;
  letter-spacing: 10px;
  text-transform: uppercase;
  transition: all 0.7s ease-in-out;
}
h2:hover {
  font-weight: 300;
}

p {
  font-family: Helvetica;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 3px;
}

.line {
  height: 1px;
  background-color: #efeaea;
}

.arrow-wrapper {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
.arrow-wrapper p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.arrow-wrapper img {
  padding-left: 1rem;
}
.arrow-wrapper:hover {
  transform: scale(1.2, 1);
}

.paralax {
  overflow: hidden;
  z-index: 99;
  position: relative;
  background: url("../img/FJ_home_slider2.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paralax h1 {
  padding-left: 15rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 100;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  letter-spacing: 108px;
  transition: all 0.7s ease-in-out;
}
.paralax h1:hover {
  font-weight: 300;
}

main {
  position: relative;
  background-color: #1a1a1a;
}

.logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 50;
  padding-left: 2%;
}

.story {
  height: 90vh;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.story h3 {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: 5px;
  padding-top: 5.2rem;
  padding-bottom: 10rem;
  z-index: 10;
}
.story h2 {
  padding-bottom: 5.8rem;
  z-index: 10;
}
.story .line {
  width: 50%;
  z-index: 10;
}
.story .story-img {
  height: 40vh;
  position: relative;
  top: -12vh;
}
.story .arrow-wrapper {
  position: relative;
  top: -10vh;
}

.curated {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 23rem;
  background-color: #121212;
}
.curated h2 {
  padding-top: 6.7rem;
  padding-bottom: 3.8rem;
}
.curated p {
  text-align: center;
}

.gallery-hover {
  padding-top: 7rem;
  display: flex;
  align-items: center;
  gap: 8vh;
  align-items: center;
  justify-content: center;
}
.gallery-hover .img-item {
  width: 23%;
  height: 100%;
  text-align: center;
}
.gallery-hover .img-item h3 {
  padding-top: 1rem;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 400;
}
.gallery-hover .img-item .line {
  display: inline-block;
  width: 70%;
  margin: 2rem 0;
  height: 1px;
}
.gallery-hover .img-item p {
  padding-bottom: 3rem;
}

.img-item {
  overflow: hidden;
  position: relative;
}
.img-item .hover-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.6s ease-in-out;
}
.img-item:hover .hover-container {
  bottom: 0;
  opacity: 1;
}

.partnership {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  height: 100vh;
  min-height: 600px;
  background-color: #1a1a1a;
  padding-bottom: 10vh;
}
.partnership h2 {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
.partnership p {
  text-align: center;
  padding-bottom: 5rem;
}

.banner {
  background-color: transparent;
  max-width: 1440px;
  position: relative;
  overflow: hidden;
}
.banner:nth-of-type(2) h3 {
  opacity: 0.8;
}
.banner:nth-of-type(3) h3 {
  animation: moveback 5s infinite linear;
  opacity: 0.6;
}
.banner:nth-of-type(4) h3 {
  opacity: 0.4;
}
.banner h3 {
  text-align: right;
  padding: 2rem 0;
  width: fit-content;
  font-family: Inter;
  font-size: 3.9rem;
  font-weight: 100;
  letter-spacing: 25px;
  white-space: nowrap;
  animation: move 5s infinite linear;
}

.showroom {
  height: 100vh;
  background-color: #121212;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.showroom .bck-img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.showroom .text-container {
  position: absolute;
  top: 15vh;
  right: 3rem;
}
.showroom .text-container h2 {
  text-align: left;
  padding-bottom: 5vh;
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 50px;
  text-transform: uppercase;
  transition: all 0.7s ease-in-out;
}
.showroom .text-container h2:hover {
  font-weight: 300;
}
.showroom .text-container p {
  width: 33rem;
  margin-left: 15vh;
  padding-bottom: 2rem;
}
.showroom .text-container .arrow-wrapper {
  width: 30rem;
}
.showroom .text-container .arrow-wrapper:hover {
  width: 25rem;
  height: auto;
}
.showroom .text-container .arrow-wrapper p {
  padding-bottom: 0;
}

.news {
  padding: 10rem;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.news h2 {
  font-size: 3.3rem;
  font-weight: 100;
  font-family: Inter, Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
  padding-bottom: 5rem;
  transition: all 0.7s ease-in-out;
}
.news h2:hover {
  font-weight: 300;
}
.news .clock-gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.news .img-wrapper {
  overflow: hidden;
  object-fit: cover;
  height: 200px;
}
.news .img-wrapper .clock {
  height: 200px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  margin: 0;
  padding: 0;
  flex-grow: 0;
  transition: all 0.5s ease-in-out;
}
.news .img-wrapper:hover .clock {
  transform: scale(1.5);
  filter: brightness(1.4);
}
.news .news-text {
  width: 30%;
}
.news .news-text .img-wrapper {
  width: 100%;
}
.news .img-wrapper {
  width: 30%;
  object-fit: cover;
  height: 200px;
  overflow: hidden;
}
.news .news-text {
  text-align: center;
}
.news .news-text h2 {
  position: relative;
  top: -8rem;
  padding-bottom: 0rem;
}
.news .news-text .highlight {
  position: relative;
  top: -5rem;
}
.news .news-text .highlight a {
  margin-top: 2rem;
}

footer {
  overflow: hidden;
  padding: 5rem;
  background-color: #efeaea;
}
footer .links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
footer .links-container h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  color: #1a1a1a;
  font-family: Inter, Arial, Helvetica, sans-serif;
  letter-spacing: 80px;
  transition: all 0.7s ease-in-out;
}
footer .links-container h2:hover {
  font-weight: 300;
}
footer .links-container nav,
footer .links-container .sz-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
footer .links-container nav a {
  font-size: 1.6rem;
  font-weight: 300;
  color: #676767;
  font-family: Helvetica;
  font-weight: 300;
  padding-right: 2rem;
}
footer .links-container nav a:hover {
  text-decoration: underline #1a1a1a;
}
footer .links-container .sz-media {
  align-items: baseline;
}
footer .links-container .sz-media a {
  position: relative;
}
footer .links-container .sz-media a img {
  margin: 1rem;
  padding-bottom: 0.1rem;
  height: auto;
  width: 1.5rem;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
footer .links-container .sz-media a img:hover {
  padding-bottom: 0.1rem;
  border-bottom: 1px solid #1a1a1a;
}

@keyframes move {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
@keyframes moveback {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -100%;
  }
}
@media screen and (min-width: 1440px) {
  main {
    position: relative;
    background-color: #121212;
    width: 1440px;
  }
  .logo {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-720px);
    padding-left: 2%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1440px) {
  .paralax h1 {
    padding-left: 5rem;
    font-size: clamp(3rem, 7vw, 6rem);
    letter-spacing: 7rem;
  }
  .news {
    padding-bottom: 20rem;
  }
  .news .clock-gallery {
    align-items: flex-start;
  }
  .news .news-text h2 {
    margin: 0 auto;
    width: 80vw;
    top: 5rem;
    right: 23rem;
  }
  .news .news-text .highlight {
    width: 80vw;
    top: 7rem;
    right: 23rem;
    margin: 0 auto;
  }
  .showroom {
    height: 70vh;
  }
  footer .links-container h2 {
    font-size: clamp(3rem, 5vw, 4rem);
    letter-spacing: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
